<html>
    <head>
        <title>
            藥品庫存紀錄
        </title>
        <h1>
            藥品庫存紀錄
        </h1>
    </head>
    <body>
        <table id = 'tab' border = '2' align = center>
            <tr>
                <td colspan = '4'>藥品加總紀錄</td>
            </tr>
            <tr>
                <td>編號</td>
                <td>藥碼</td>
                <td>中文名稱</td>
                <td>數量</td>
            </tr>
        </table>
        <table id = 'each_table' border = '2' align = center>
            <tr>
                <td colspan = '7'>單次批貨藥品紀錄</td>
            </tr>
            <tr>
                <td>編號</td>
                <td>藥碼</td>
                <td>藥品名稱</td>
                <td>數量</td>
                <td>過期日期</td>
                <td>負責人員</td>
            </tr>
        </table>
    </body>
    <style>
        td {
            text-align : center;
        }
    </style>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script>
        (async() => {
            const {data : med_inventory_each} = await axios.get('/med_inventory_each');
            const {data : medicines} = await axios.get('/medicines_normal');
            // 把各個批次的藥分開
            for (let i = 0;i < med_inventory_each.length;i++) {
                    //console.log(med_inventory_each[i]);
                for (let k = 0;k < medicines.length;k++) {
                    if (med_inventory_each[i].code == medicines[k].code) { // 藥碼相同，有此筆藥的資訊  
                        each_table.innerHTML += "<tr id = 'each_row'" + i + "/><td/>" + med_inventory_each[i].no + 
                        "<td>" + med_inventory_each[i].code + "</td>" +
                        "<td>" + medicines[k].medi_eng + "</td>" +
                        "<td>" + parseFloat(med_inventory_each[i].now_quantity) + "</td>" + 
                        "<td>" + med_inventory_each[i].expire + "</td>" +
                        "<td>" + med_inventory_each[i].aId + "</td></tr>";
                        break;
                    }
                }
            }
            var combine_inventory = mkCombine(med_inventory_each); // 把重複的藥的數量加起來
            // 把全部重複的藥加總(不限批次)
            for (let i = 0;i < combine_inventory.length;i++) {
                for (let k = 0;k < medicines.length;k++) {
                    if (combine_inventory[i].code == medicines[k].code) { // 藥碼相同  
                        tab.innerHTML += "<tr id = 'log_row'" + i + "/><td/>" + combine_inventory[i].no + 
                        "<td>" + combine_inventory[i].code + "</td>" +
                        "<td>" + medicines[k].medi_mand + "</td>" +
                        "<td>" + parseFloat(combine_inventory[i].now_quantity) + "</td></tr>"
                        break;
                    }
                }
            }
        })();
        
        function mkCombine(med_inventory_each) { // 把重複的藥(同個藥但不同時間進)加成同一種藥
            var combine_inventory = [];
            for (let i = 0;i < med_inventory_each.length;i++) {
                var is_new = true; // 先假設為不是重複的藥
                for (let j = 0;j < combine_inventory.length;j++) {
                    if (med_inventory_each[i].code == combine_inventory[j].code) { // 重複的藥
                        combine_inventory[j].now_quantity += med_inventory_each[i].now_quantity; // 新增數量
                        combine_inventory[j].now_quantity = parseFloat(combine_inventory[j].now_quantity); // 從字串變成小數點型態，才能和下一個相加
                        is_new = false; // 不是新的藥
                    }
                }
                if (is_new) { // 新的藥
                    combine_inventory.push(med_inventory_each[i]);
                }
            }
            return combine_inventory;
        }

    </script>
</html>
