<html>
    <head>
        <title>
            診所登入頁面
        </title>
        <h1>
            診所登入頁面
        </h1>
    </head>
    <body>
        <form method = 'post' id = 'login' onsubmit="return false;">
            帳號：<input type = 'text' name = 'account' id = 'account'/>
            密碼：<input type = 'password' name = 'pass' id = 'pass'/>
            <input type = 'submit' id = 'sub'/>
        </form>
    </body>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "/js/login.js"></script>
</html>


