<html>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <head>
        <h1>
            管理員頁面-管理帳號
        </h1>
    </head>
    <body>
        <div class = 'position-absolute top-0 end-0'>
            <div id = 'account_info'></div>
        </div>
       <table class = 'position-absolute' id = 'tab' border = '1'>
           <tr>
               <td colspan = '4'><b>目前帳號</b></td>
           </tr>
           <tr>
               <td><b>姓名</b></td>
               <td><b>職位</b></td>
               <td><b>帳號</b></td>
               <td><b>密碼</b></td>
           </tr>
       </table>
       <table class = 'position-absolute start-50' id = 'add_user' border = '1'>
            <tr>
                <td colspan = '4'>新增帳號</td>
            </tr>
            <tr>
                <td>
                   職位：
                    <select id = 'title' required>
                        <option value = 'doc'>醫生</option>
                        <option value = 'nur'>護士</option>
                        <option value = 'medi'>藥師</option>
                        <option value = 'others'>其他員工</option>
                        <option value = 'super'>管理員</option>
                    </select>
                </td>
                <td>
                    姓名：<input id = 'name' required></input>
                </td>
                <td>
                    帳號：<input id = 'account' autocomplete="nope" readonly="readonly" required></input>
                </td>
                <td>
                    密碼：<input id = 'passwd' required></input>
                </td>
            </tr>
            <tr>
                <td>
                    <button id = 'submit_bt'>送出</button>
                </td>
            </tr>
        </table>
    </body>
    <style>
        td {
            text-align : center;
            width : 150px;
        }
        
        h1 {
            text-align : center;
        }
    </style>
    <script>
        function getId(id) {
            return document.getElementById(id);
        }
        
        const all_title = {super : '管理員', doc : '醫生', nur : '護士', medi : '藥師', others : '其他員工'}; // 所有職位 value 對應中文名稱
    
        getId('submit_bt').addEventListener('click', submitAccount);
        
        async function submitAccount() { // 送出新增帳號
            const confirm_text = '確定新增此筆帳號？\n職位：' + all_title[getId('title').value] + "。\n姓名：" + getId('name').value + "。\n帳號：" + getId('account').value + '。\n密碼：' + getId('passwd').value + '。'
            if (!confirm(confirm_text)) { // 不確定要新增，取消
                alert('新增取消！');
                return;
            }
            // 送出並檢查
            data = {name : getId('name').value, title : getId('title').value, account : getId('account').value, passwd : getId('passwd').value};
            const {data : result} = await axios.post('/regist/checkAddAccount', data);
            if (result.suc) {
                alert('新增帳號成功！');
            }
            else { // 新增帳號失敗
                alert('新增帳號失敗！' + result.error_text);
            }
            window.location.reload();
        }
    
        (async() => { // 先放入所有帳號資訊
            const {data : result} = await axios.get('/regist/account');
            const accounts = result.accounts;
            for (let i = 0;i < accounts.length;i++) {
                tab.innerHTML +=  
                "<tr/><td/>"+ accounts[i].name + 
                 "<td>" + all_title[accounts[i].title] + "</td>" +
                 "<td>" + accounts[i].aId + "</td>" +
                 "<td>" + accounts[i].pass + "</td></tr>";
            }
            // 先把新的帳號 value 放進去
            getId('account').value = accounts.length + 1; // 帳號 = 現在的帳號數量 + 1
        })(); 
        
        (async() => { // 查詢 nId
            const {data : user} = await axios.get('/viewPa/nId');
            var {data : account_info} = await getTitle(user.nId);
            var title = account_info.title;
            var name = account_info.name;
            getId('account_info').innerHTML = "<b>" + user.nId + "</b> 號" + title + "：" + name + "";
        })();
        
        async function getTitle(nId) { // 用帳號找職位
            var title = axios.get('/getTitle', {params : {aId : nId}});
            console.log(title);
            return title;
        }
    </script>
</html>