<html>
    <head>
        <title>
            新增病人資料
        </title>
        <h1>
            新增病人資料
        </h1>
		<h2><span id = 'nId'></span><span> 號護士</span></h2>
		<h2><span id = 'rId'></span><span> 病歷號</span></h2>
    </head>
    <body>
        搜尋<input type = 'text' id = 'cond'/>
        <input type = 'text' id = 'search'/>
        <input type = 'text' id = 'code'/><br/>
        <span id = 'result'></span>
		<br/>
        <form id = 'form' action = '/viewPa' method = 'post'>
    		<table id = 'tab' border = '0' align = center>
			<tr><td>
			</td></tr><tr id = 'name_row'><td>
			<span id = 'name_text'>姓名：</span>
			<input type = 'text' name = 'name' id = 'name'/>
            <br/>
			</td></tr><tr id = 'id_row'><td>
			<span id = 'id_text'>身份證號：</span>
			<input type = 'text' name = 'id' id = 'id'/>
            <br/>
			</td></tr><tr id = 'sex_row'><td>
			<span id = 'sex_text'>性別：</span>
			<input type = 'text' name = 'sex' id = 'sex'/>
            <br/>
			</td></tr><tr id = 'birth_row'><td>
			<span id = 'birth_text'>生日：</span>
			<input type = 'text' name = 'birth' id = 'birth'/>
            <br/>
			</td></tr><tr id = 'identity_row'><td>
			<span id = 'identity_text'>身份：</span>
			<input type = 'text' name = 'identity' id = 'identity'/>
            <br/>
			</td></tr><tr id = 'tel1_row'><td>
			<span id = 'tel1_text'>電話1：</span>
			<input type = 'text' name = 'tel1' id = 'tel1'/>
            <br/>
			</td></tr><tr id = 'tel2_row'><td>
			<span id = 'tel2_text'>電話2：</span>
			<input type = 'text' name = 'tel2' id = 'tel2'/>
            <br/>
			</td></tr><tr id = 'mom_row'><td>
			<span id = 'mom_text'>母身份證：</span>
			<input type = 'text' name = 'mom_id' id = 'mom'/>
            <br/>
			</td></tr><tr id = 'parity_row'><td>
			<span id = 'parity_text'>胎次：</span>
			<input type = 'text' name = 'parity' id = 'parity'/>
            <br/>
			</td></tr><tr id = 'address_row'><td>
			<span id = 'address_text'>地址：</span>
			<input type = 'text' name = 'address' id = 'address'/>
            <br/>
			</td></tr><tr id = 'can_row'><td>
			<span id = 'can_text'>可用次數：</span>
			<input type = 'text' name = 'can_used' id = 'can'/>
            <br/>
			</td></tr><tr id = 'pass_row'><td>
			<span id = 'pass_text'>過去病史：</span>
			<input type = 'text' name = 'pass' id = 'pass'/>
            <br/>
			</td></tr><tr id = 'allergy_row'><td>
			<span id = 'allergy_text'>過敏：</span>
			<input type = 'text' name = 'allergy' id = 'allergy'/>
            <br/>
			</td></tr><tr id = 'hate_row'><td>
			<span id = 'hate_text'>不喜：</span>
			<input type = 'text' name = 'hate' id = 'hate'/>
            <br/>
			</td></tr><tr id = 'mark_row'><td>
			<span id = 'mark_text'>註記：</span>
			<input type = 'text' name = 'mark' id = 'mark'/>
			<input type = 'submit'></input>
			</table>
		</form>
    </body>
	<style>
		form {
			display : inline;
		}

		table {
			display : inline;
		}
	</style>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "js/updatePa.js">
    </script>
</html>

