<html>
<head>
    <title>
         看診明細
    </title>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
</head>
<style>
span {
}
</style>
<body>
    <h1>看診明細</h1>
    <span id = 'nurse'></span>
    <form action = '/viewPa' method = 'post'>
        <input type = 'hidden' name = 'logout' value = '1'/>
        <input type = 'submit' value = '登出'/>
    </form>
    <a href = "/addPa">新增病人</a><br/>
    <table id = 'tab' border = '2' align = center>
        <tr>
            <td><span id = "pat_name">姓名</span></td>
            <td><span id = 'time'>掛號時間</span></td><
            <td><span id = 'end_time'>完診時間</span></td><
            <td><span id = 'chart_num'>病歷號</span></td>
            <td><span id = 'id'>身份證號</span></td>
            <td><span id = 'sex'>性別</span></td>
            <td><span id = 'birth'>生日</span></td>
            <td><span id = 'tel1'>電話1</span></td>
            <td><span id = 'tel2'>電話2</span></td>
            <td><span id = 'mark'>註記</span></td>
            <td><span id = 'regist'>掛號費</span></td>
            <td><span id = 'part_self'>部份負擔</span></td>
            <td><span id = 'deposit'>押金</span></td>
            <td><span id = 'all_self'>自費</span></td>
            <td><span id = 'dId'>醫生代號</span><br/></td>
            <td><span id = 'dId'>是否在場</span><br/></td>
        </tr>
    </table>
</body>
    <script src = "js/upView.js">
    </script>
</html>
