<html>
    <head>
    <script src = "/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <title>
        歷史看診明細
    </title>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </head>
    <body id = 'container'>
        <h1 class = 'position-relative top-0'>歷史看診明細</h1>
        <div class = 'position-absolute top-0 end-0'>
            <div id = 'nId'></div>
        </div>
        <div class ='position-absolute top-0 end-0'>
            <div class = 'col-md-11'></div>
            <button type = 'button' id = 'logout' style = "width:80px;">登出</button>
        </div>
        <!-- chat room -->
        <div class = 'position-absolute top-0 end-0 panel panel-default' id = "chat_title">---------------------<br/>聊天室<br/></div>
        <input class = "position-fixed bottom-0 end-0" type = "input" id = 'msg'></div>
        <button class = "position-fixed bottom-0 end-0" id = "send_msg">send</button>
        <!-- page navbar -->
        <nav class="navbar navbar-light bg-light col-md-10">
            <form id = 'navbar' class="container-fluid justify-content-start">
                <button id = 'viewPa' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">候診病人</button>
                <button id = 'view_today_pa' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">今日看診明細</button>
                <button id = 'addPa' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">新增病人</button>
                <button id = 'ckVac' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">歷史疫苗紀錄</button>
                <button id = 'ckTodayVac' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">今日疫苗紀錄</button>
                <button id = 'allMed' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">藥品庫存</button>
                <button id = 'ckMed' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">單筆藥品</button>
                <button id = 'addMed' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">新增藥品</button>
                <button id = 'fullcalendar' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">主責帳號</button>
                <button id = 'financial' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">總帳務表</button>
                <button id = 'financial_today' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">今日帳務</button>
                <button id = 'cardDebt' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">欠卡紀錄</button>
                <button id = 'done_financial' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">已結算紀錄</button>
                <button id = 'debt' class="btn btn-outline-dark me-3" type="button" style = "width:150px;height:50px">債務紀錄</button>
            </form>
        </nav>
        </div>
        <!-- table page -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        </ul>
        <div id = 'tab_pos_title' class = 'position-relative'></div>
        <div id = 'tab_pos' class = 'position-relative'></div>
        <nav aria-label="Page navigation example" class = 'position-absolute bottom-0' id = "page_top">
        </nav>
    </body>
    <style>
        body{
            color:black;
            font-size:25px;
        }
        td,tr,th{
            border:1px solid black;
            border-collapse: collapse;
            cursor:all-scroll;
            width : 4%;
            text-align : center;
            line-height: 18px;
        }
        table{
            position : absolute;
            border-collapse: collapse;
        }
        
        #tab3 {
            padding-top: percentage (100%);
        }

        h1 {
            text-align : center;
        }
    

        #logout {
            //position : absolute;
        }
        

        #save {
        }

        #nId {
            //margin : 0px 100px 0px 0px;
        }

        #chat_title {
            margin : 100px 0px 0px 0px;
        }

        #tab_pos {
            margin : 0px 0px 0px 0px;
        }
        
        #logout {
            margin : 30px 0px 0px 0px;
        }
        
        #page_top {
            margin : 0px 0px 0px 150px;
        }
        
        #msg {
            height : 30px;
            width : 200px;
            margin : 0px 50px 10px 0px;
        }
        
        #send_msg {
            height : 30px;
            width : 50px;
            font-size : 15px;
            margin : 0px 0px 10px 0px;
        }
        
        #page_last {
            width : 105px;
        }
        
        #page_next {
            width : 105px;
        }
        
        #last_page {
            width : 80px;
        }
        
        #first_page {
            width : 80px;
        }
        
        a {
            color : #f33;
            -webkit-user-select:none;
            -moz-user-select:none;
            user-select:none;
            text-align : center;
        }
    </style>
    <script>
        var all_tab = [1, 3]; // 全部的 table id 
        var now_table; // which doctor table is used

        var all_tab = []; // all doctor aId
        var all_doc_name = []; // 全部醫生名字

        async function mkDocArray() { // 找所有是醫生的帳號的資訊
            var {data : all_account} = await axios.get("/get_account");
            for (let i = 0;i < all_account.records.length;i++) {
                // is doctor
                if (all_account.records[i].title == 'doc') {
                    all_tab.push(all_account.records[i].aId);
                    all_doc_name.push(all_account.records[i].name);
                }
            }
            // 依照醫生數量製作醫生選單
            docNav(); // make doctor nav bar
            listenDocBt(); // listen to doc bt
            return all_tab;
        }
        
        mkDocArray();

         // make doctor nav bar with doctor number
        function docNav() {
            var nav_tab = getId("myTab");
            for (let i = 0;i < all_tab.length;i++) {
                // list element
                var page_li= document.createElement("li");
                page_li.className = "nav-item";
                page_li.role = 'presentation';
                // button element
                var page_bt= document.createElement("button");
                // button id = doc + doctor index
                page_bt.className = "nav-link";
                page_bt.setAttribute('id', ("doc" + all_tab[i]));
                page_bt.role = "tab";
                page_bt.innerHTML = "醫生" + all_tab[i] + '- ' + all_doc_name[i];
                // list append button
                page_li.appendChild(page_bt);
                // nav table append list
                nav_tab.appendChild(page_li);
            }
        }

        function jsonToString(json) {
            return Object.keys(json).map(function(key) {
                return encodeURIComponent(key) + '=' + encodeURIComponent(json[key]);
            }).join('&');
        }

        function getId(id) {
            return document.getElementById(id);
        }

        function getCla(cla) {
            return document.getElementsByClassName(cla);
        }

        function getColId(text) { // 從 td 的 innerHTML 找出 col id
            var id_index = text.indexOf('id');
            var value_id = '';
            id_index += 4;
            while (text[id_index] != '"') { // 到 " 就停
                value_id += text[id_index]; // 加字元
                id_index++; // 找下一個
            }
            return value_id;
        }

        var change_num = {}; // key = 更改的序號, value = 改了多少(singed)
        (async() => { // 查詢 nId
            const {data : user} = await axios.get('/viewPa/nId');
            getId('nId').innerHTML = user.nId + " 號護士登入中";
        })();

        (async() => { // 查詢是否為主責, 是就標示
            const {data : main_pos} = await axios.get('/fullcalendar/getMain'); // 主責帳號
            console.log(main_pos);
            for (let i = 0;i < main_pos.aId.length;i++) { // 所有時間相符的主責帳號
                if (getNid(getId('nId').innerHTML) == main_pos.aId[i].aId) // 相符的帳號
                    getId('nId').innerHTML += "（主責）"; 
            }
        })();

        function alertLog(response) { // 登入
            for (let i = 0;i < response.data[response.data.length-1].length;i++) {
                if (response.data[response.data.length-1][i].status) 
                    return 1;
             }
            var name = prompt("請輸入您的帳號", ""); //將輸入的內容賦給變數 name ，
            var pass = prompt("請輸入您的密碼", ""); //將輸入的內容賦給變數 name ，
            var log_suc = 0;
            for (let i = 0;i < response.data[response.data.length-1].length;i++) {
                if (response.data[response.data.length-1][i].nId==name && response.data[response.data.length-1][i].pass==pass) {
                    //getId('nId').value = name;
                    alert('登入成功');
                    log_suc = 1;
                    return 1;
                }
            }
            if (log_suc == 0) {
                alert('登入失敗');
                location.reload();
            }
        }    

        var total_len = 0;
        var index = 0;
        var in_done;
        var start_in = {}; // 一開始是否在場
        var record_text;
        let limit_records = 6; // 頁面能顯示最大的頁面數量
        var medicines_records;
        async function putRecord(dId, page) { // 把紀錄放進去 table
        axios.get('/records').then(function(response) {
            axios.get('/data').then(function(data) {
                axios.get('/done_records').then(function(done) {
                    response.data.sort(function(a,b){ // 排序
                        return b.no - a.no;
                    });
                    var in_patients;
                    var count_records = 0; // 總共有幾個可以放的紀錄, 不包含看完的
                    var count_added_records = 0; // 真正放了幾個紀錄進 table
                    total_len = 0; // when reset table, reset the total_len too
                    getId("tab"+now_table).innerHTML = ""; // 每次重新點, 都清空 table
                    mkTable(dId); // 製作該 id 的 table
                    for (let j = 0;j < response.data.length;j++) { // 每一筆紀錄 
                        if (response.data[j].dId != dId) // 不是此醫生
                            continue;
                        in_patients = false;
                        count_records++; // 計算總共有加了幾筆紀錄
                        if (count_records <= (page-1) * limit_records) // 還沒到可以放進去的 index
                            continue; // 重找
                        if (count_added_records >= limit_records) // 真正放進去的紀錄不能超過限制的次數
                            break; // 停止
                        count_added_records++; // 真正放進去的次數
                        
                        for (let i = 0;i < data.data.length;i++) { // left join 到 patients
                            if (response.data[j].pId == data.data[i].pId) { // 病人代號相同
                                start_in[total_len] = response.data[j].in;
                                in_patients = true;
                                var no_card = 0; // 是否未帶卡
                                var tab_name = "tab"+ response.data[j].dId;
                                //getId(tab_name).innerHTML
                                //record_text = 
                                getId(tab_name).innerHTML += 
                                "<tbody id = 'tbody'" + total_len + "'><tr" + " id = 'log_row" + total_len + "'/><td/>"+ response.data[j].no  +  
                                "<td>" + response.data[j].dId + "</td>" + 
                                "<td>" + data.data[i]["name"] + "</td>" + 
                                "<td>" + lessTime(response.data[j].start) + "</td>" +
                                "<td>" + lessTime(response.data[j].end) + "</td>" +
                                "<td>" + data.data[i].id + "</td>" +
                                "<td>" + data.data[i].sex + "</td>" +
                                "<td>" + data.data[i].birth + "</td>" +
                                "<td>" + data.data[i].tel1 + "</td>" +
                                "<td>" + data.data[i].tel2 + "</td>" +
                                "<td>" + response.data[j].mark + "</td>" + 
                                "<td>" + response.data[j].regist + "</td>" +
                                "<td>" + response.data[j].self_part + "</td>" +
                                "<td>" + response.data[j].deposit + "</td>" +
                                "<td>" + response.data[j].all_self + "</td>" +
                                "<td><input type = 'checkbox'" + `${response.data[j].in && "checked"}` + " id = 'in_" + total_len + "'></input></td>" +
                                "<td><button id = '" + j + "' type = 'button' onclick = 'callPat(" + index + "," + response.data[j].no + ")'>刪除</button></td>" +  
                                "<td><button id = 'return" + j + "' type = 'button' onclick = 'returnCard(" + response.data[j].no + ")'>還卡</button></td>" +
                                "<td><button type = 'button' onclick = 'checkMedRec(" + response.data[j].no + ")'>病歷</button></td></tr></tbody>";                                 
                                //document.getElementById("in_"+total_len).checked = response.data[j].in;
                                //getId("in_" + total_len).checked = response.data[j].in == 1;
                                total_len += 1;
                                break;
                            }
                        }
                        if (!in_patients) { // 不在病患中，未帶卡或預約
                            start_in[total_len] = response.data[j].in;
                            var tab_name = "tab"+ response.data[j].dId;
                            getId(tab_name).innerHTML += 
                            "<tbody id = 'tbody'" + total_len + "'><tr" + " id = 'log_row" + total_len + "'/><td/>"+ response.data[j].no  +  
                            "<td>" + response.data[j].dId + "</td>" + 
                            "<td>" + null + "</td>" + 
                            "<td>" + lessTime(response.data[j].start) + "</td>" +
                            "<td>" + lessTime(response.data[j].end) + "</td>" +
                            "<td>" + null + "</td>" +
                            "<td>" + null + "</td>" +
                            "<td>" + null + "</td>" +
                            "<td>" + null + "</td>" +
                            "<td>" + null + "</td>" +
                            "<td>" + null + "</td>" + 
                            "<td>" + response.data[j].regist + "</td>" +
                            "<td>" + response.data[j].self_part + "</td>" +
                            "<td>" + response.data[j].deposit + "</td>" +
                            "<td>" + response.data[j].all_self + "</td>" +
                            "<td><input type = 'checkbox'" + `${response.data[j].in && "checked"}` + " id = 'in_" + total_len + "'></input></td>" +
                            "<td><button id = '" + j + "' type = 'button' onclick = 'callPat(" + index + "," + response.data[j].no + ")'>刪除</button></td>" +  
                            "<td><button id = 'return" + j + "' type = 'button' onclick = 'returnCard(" + response.data[j].no + ")'>還卡</button></td>" +
                            "<td><button type = 'button' onclick = 'checkMedRec(" + response.data[j].no + ")'>病歷</button></td></tr></tbody>";                                 
                            var no_card_id = "log_row" + total_len;
                            document.getElementById(no_card_id).style.backgroundColor = "red";
                            total_len += 1;
                        }
                    }
                    //mkStyle();
                })
            })
        })
        }
        
        async function checkMedRec(rId) {
            var {data : medicines_records} = await axios.get('/medRec'); // done records
            var in_medi = false;  // 是否有藥物紀錄
            for (let i = 0;i < medicines_records.med_rec.length;i++) {
                if (medicines_records.med_rec[i].rId == rId) { // 有醫生開的藥物紀錄
                    in_medi = true;
                }
            }
            if (!in_medi) {
                alert('查無藥物紀錄！');
                return;
            }
            const {data : suc} = await axios.post('/docMain/getPa', {view : true, rId : rId, pa_num : rId}); // 檢查帳號的權限
            if (suc) {
                alert('成功');
                window.location.href = "/ckPatients?view=true";
            }
            else {
                alert('無此病患');
            }
        }
        
        async function callPat(pa_num, rId) { // 按下刪除
            var row_id;
            var value_id;
            var value_index;
            reSort(rId); // 重新排序
            const {data : del_suc} = await axios.post('/viewPa/del', {rId : rId}); // 刪除
            updateNum(); // 更新看診號
            if (Object.values(del_suc)) { // 是否刪除成功
                alert('刪除成功');
                location.reload();
            }
            else {
                alert('刪除失敗');
                location.reload();
            }
        }

        function reSort(rId) { // 重新排序看診號
            var resort_index = 0;
            var tab_len; // 每個 tab 的長度
            var tab_id; // 每個 tab 的 id
            var log_row; // 每個 row
            //for (let j = 0;j < all_tab.length;j++) { // 全部的 table
                tab_id = "tab" + now_table; // 該 table 的 id
                tab_len = getId(tab_id).getElementsByTagName('tbody').length - 1; // 該 tab 長度，第一個是表頭所以-1
                resort_index = 0; // 重新排序的看診號
                for (let i = 1;i < tab_len+1;i++) { // 排序各個 table
                    log_row = (getId(tab_id).getElementsByTagName('tbody')[i]);
                    if (rId == log_row.getElementsByTagName('td')[0].innerHTML) // 是要刪除的，不要算
                        continue;
                    value_id = ""; // 看診號的 id
                    value_index = log_row.getElementsByTagName('td')[2].innerHTML.indexOf('id');
                    value_index += 4; // 從 i 開始，所以 +4
                    while (log_row.getElementsByTagName('td')[2].innerHTML[value_index] != '"') { // 到 " 就停
                        value_id += log_row.getElementsByTagName('td')[2].innerHTML[value_index]; // 加字元
                        value_index++; // 找下一個
                    }
                    (getId(value_id).value) = resort_index+1; // 替換看診號
                    resort_index++; // 下一個看診號
                }
            //}
        }

       async function returnCard(rId) { // 按下還卡
            if (!confirm(`編號：${rId}，確定還卡？`)) {
                return;
            }
            const {data : user} = await axios.get('/viewPa/nId');
            const {data : result} = await axios.post('/viewPa/submitUpdatePa', {rId : rId, aId : user.nId});
            if (result.suc) { // 是否還卡成功
                alert('還卡成功');
                location.reload();
            }
            else {
                alert('還卡失敗');
                location.reload();
            }
        }

        function mkStyle() { // 設置間距
            getId('tab' + all_tab[0]).style.margin = '0px 0px 0px 0px'; // 第一個 table 
            getId('tab3').getBoundingClientRect().width+= '1090';
            for (let i = 0;i < all_tab.length-1;i++) { // 設置每一個 table 的間距
                spacing = getId('tab' + (all_tab[i])).getBoundingClientRect().bottom - getId('tab' + (all_tab[i+1])).getBoundingClientRect().top; // 計算前面的 table 的 bottom - 後面 table 的 top
                distance = (-20 + -1 * spacing) * -1; // 保持間距
                getId('tab' + (all_tab[i+1])).style.margin = `${distance}px 0px 0px 0px` // 設置 table 間距
            }
        }

        function lessTime(times) { // 把時間弄得好看一點
            if (times == null) // 如果還沒有時間
                return null;
            var new_time = '';
            for (let i = 0;i < times.length-5;i++) { // 不要後面五個字元
                if (times[i] == 'T') { // 把 T 換掉
                    new_time += '\n';
                    continue;
                }
                new_time += times[i];
            }
            return new_time;
        }

        function getNid(nId) { // 從 innerHTML 挑出 nId
            var only_nId = '' // 只要 nId
            for (let i = 0;i < nId.length;i++) {
                if (nId[i] == " ") // 加完了
                    break;
                else
                    only_nId += nId[i];
            }
            return only_nId;
        }

        function directId(e) { // 導向網址
            window.location.href = "/" + e.target.id;
        }

        function navDirect() { // 導向 nav_bar 的 child 到該網址
            var nav_bar = getId('navbar'); // 所有 nav bar 的 child
            for (let i = 0;i < nav_bar.length;i++) { // 監聽所有的 child
                getId(nav_bar[i].id).addEventListener('click', directId);
            }
        }
        navDirect();

        let now_page = 0; // 現在的頁數
        function mkTable(tab_id) { // 依照醫生數量，製作 table
                //now_page = 0; // 換醫生的 table，要把現在頁數還原成第一頁
                getId('tab_pos').innerHTML = 
                `<table class = 'col-md-10' id = 'tab${tab_id}' border = '2' align = center>` +
                "<tr>" + 
                "<td style = 'text-align:center;' colspan = 17>" + 
                `Doc.${tab_id}` +  
                "</td>" +
                "</tr>" + 
                "<tr>" + 
                "<td><span id = 'chart_num'>病歷號</span></td>" + 
                "<td><span id = 'dId'>醫生代號</span><br/></td>" +
                "<td><span id = 'pat_name'>姓名</span></td>" +
                "<td><span id = 'time'>掛號時間</span></td>" +
                "<td><span id = 'end_time'>完診時間</span></td>" +
                "<td><span id = 'id'>身份證號</span></td>" +
                "<td><span id = 'sex'>性別</span></td>" +
                "<td><span id = 'birth'>生日</span></td>" +
                "<td><span id = 'tel1'>電話1</span></td>" +
                "<td><span id = 'tel2'>電話2</span></td>" +
                "<td><span id = 'mark'>註記</span></td>" +
                "<td><span id = 'regist'>掛號費</span></td>" +
                "<td><span id = 'part_self'>部份負擔</span></td>" +
                "<td><span id = 'deposit'>押金</span></td>" + 
                "<td><span id = 'all_self'>自費</span></td>" +
                "<td><span id = 'in'>是否在場</span><br/></td>" +
                "<td><span id = 'delete'>刪除</span><br/></td>" +
                "<td><span id = 'return_card'>還卡</span><br/></td>" +
                "<td><span id = 'return_card'>病歷</span><br/></td>" +
            "</tr>" +
            "</table>" +
            "<div>&nbsp;</div>"
        }
    
        let total_page_num;
        async function mkDoc(e) {
            now_page = 0;
            if (e == 'first') {
                var tab_id = 1;
            }
            else {
                var tab_id = getDid(e.target.id); // 取得 dId
            }
            now_table = tab_id;
            mkTable(tab_id); // 製作該 id 的 table
            putRecord(tab_id, 1);
            const page_num = axios.get('/getPageNum', {params : {dId : tab_id, history : true}});
            page_num.then(function(result) { // make page
                var page_num_result = {data : result}.data.data.page_num; // total records num
                total_page_num = countPageNum(page_num_result); // total_page_num = all records/limit_records
                mkPageListener(total_page_num); // make listener of page list 
            });
        }

        function countPageNum(page_num_result) { // count page num
            let page_num = Math.floor(page_num_result/limit_records); // without float
            let page_less = page_num_result%limit_records; 
            if (page_less != 0) // is float
                page_num += 1; // add one more page
            return page_num;
        }
        
        function getDid(origin_dId) {
            var dId = ''
            for (let i = 0;i < origin_dId.length;i++) {
                if (isNum(origin_dId[i]))
                    dId += origin_dId[i];
            }
            return dId;
        }

        function isNum(n) { // 是不是數字
            return !isNaN(parseFloat(n)) && isFinite(n);
        }

        function listenDocBt() { // addEventListener on all doc bt
            for (let i = 0;i < all_tab.length;i++) {
                getId('doc'+all_tab[i]).addEventListener('click', mkDoc); // 
            }
        }   
        
        // 一開始先製作第一個醫生的看診明細
        mkDoc('first');
        
        // chat room
        
        getId("send_msg").addEventListener("click", sendMsg);

        function sendMsg() { // send msg
            var msg = getNid(getId('nId').innerHTML) + " 號護士: ";
            msg += getId("msg").value;
            socket.emit("docMsg", msg);
        }
        
        document.addEventListener("DOMContentLoaded", () => { // load message into browser
            socket.on("msg", function (chat_msg) {
                var header_text = onlyText(chat_msg)[0]; // header text, include which account
                var real_text = addBr(onlyText(chat_msg)[1], 10); // the content of text
                var new_msg = header_text + real_text + "\n"; // all text
                var new_div = document.createElement("div");
                var new_content = document.createTextNode(new_msg);
                new_div.className = "border border-primary";
                new_div.appendChild(new_content);
                var chat_title = getId('chat_title');
                chat_title.appendChild(new_div);
                chat_title.style = "white-space: pre;" // make /n == break
            })
        });
        
        function onlyText(chat_msg) { // return the real text
            let start_index; // index of real start
            var header_text = "";
            var real_text = "";
            for (let i = 0;i < chat_msg.length;i++) {
                if (chat_msg[i] == ":") // start from 1 index behind
                    start_index = i+1; // escapt the space
                if (i > start_index) // real text
                    real_text += chat_msg[i];
                else
                    header_text += chat_msg[i];
            }
            return [header_text, real_text]; // return [header, content]
        }
        
        function addBr(real_text, limit) { // add break into text when is too long
            br_text = ""; // break added text
            for (let i = 0;i < real_text.length;i++) {
                if (i % limit == 0) // the limit char of a line
                    br_text += "\n"; // next line
                br_text += real_text[i];
            }
            return br_text;
        }
        
        let start_page; // 開始的頁數
        let max_col_page = 10; // 一行最多可以有幾個頁數
        function mkPageListener(page_num) { // 依照 page 的數量監聽
            // 如果總頁數 < 一行限制最大頁數，一行限制最大頁數 = 總頁數
            console.log(total_page_num);
            var temp_max_col_page = total_page_num < max_col_page ? total_page_num : max_col_page; 
            console.log(max_col_page);
            mkPage(page_num); // 製作頁面按鈕
            if (page_num >= temp_max_col_page) { // 最大只能 15 頁
                page_num = temp_max_col_page + parseInt(now_page);;
            }
            if (page_num >= total_page_num) {
                page_num = total_page_num;
            }
            getId('page_last').addEventListener('click', turnPage);
            getId('page_next').addEventListener('click', turnPage);
            getId('last_page').addEventListener('click', turnPage);
            getId('first_page').addEventListener('click', turnPage);
            for (let i = parseInt(start_page)+1;i < page_num+1;i++) // 從第一頁開始監聽
                getId('page_'+i).addEventListener('click', turnPage); // put records in table depend on page num
        }
        
        function turnPage(e) { // 翻頁
            if (e.target.innerHTML == "上一頁") {
                // 不能讓上一頁到 -1
                if (now_page < 1) {
                    now_page = 0;
                }
                else {
                    now_page -= 1;
                }
            }
            else if (e.target.innerHTML == "下一頁") {
                if (now_page+1 < total_page_num) { // 下一頁不能超過最後一頁
                    now_page += 1;
                }
            }
            else if (e.target.innerHTML == "首頁") {
                now_page = 0;
            }
            else if (e.target.innerHTML == "尾頁") {
                now_page = total_page_num-1;
            }
            else { // 現在頁數 = 案的頁數-1
                now_page = parseInt(e.target.innerHTML)-1;
            }
            mkPageListener(total_page_num); // 重新製作頁面按鈕、監聽
            putRecord(now_table, now_page+1); // 把紀錄放進 table, 現在是第幾個 table, 第幾頁
        };
        
        function mkPage(page_num) { // make page with page_num
            if (getId('page_list')) // if page_list exist, renew one
                getId("page_list").remove(); // remove
            // 如果總頁數 < 一行限制最大頁數，一行限制最大頁數 = 總頁數
            var temp_max_col_page = total_page_num < max_col_page ? total_page_num : max_col_page; 
            // create and add the needed elements
            var page_list_element = document.createElement("ul");
            page_list_element.className = "pagination";
            page_list_element.setAttribute("id", "page_list");
            var page_top = getId("page_top");
            page_top.appendChild(page_list_element);
            var page_list = getId('page_list');
            var page_list = getId('page_list');
            if (page_num >= temp_max_col_page) { // 一行最大只能 10 頁
                page_num = temp_max_col_page + parseInt(now_page);
            }
            if (page_num >= total_page_num) { // 不能超過最大頁數
                page_num = total_page_num;
            }
            if (now_page > total_page_num-temp_max_col_page) {
                // 總共的頁數不能低於 10 ，所以當現在頁數 < 總頁數-10，開始的頁數還是要保持在總頁數 -10
                start_page = total_page_num-temp_max_col_page;
            }
            else { // 開始頁數 = 現在頁數
                start_page = now_page;
            }
            // 製作元素
            
            // 上一頁的元素
            var page_li= document.createElement("li");
            page_li.className = "page-item";
            var page_a = document.createElement("a");
            page_a.className = "page-link";
            page_a.setAttribute("id", "page_last");
            page_a.innerHTML = '上一頁'; // start from page 1
            page_li.appendChild(page_a);
            page_list.appendChild(page_li);
            
            // 首頁的元素
            var page_li= document.createElement("li");
            page_li.className = "page-item";
            var page_a = document.createElement("a");
            page_a.className = "page-link";
            page_a.setAttribute("id", "first_page");
            page_a.innerHTML = '首頁'; // start from page 1
            page_li.appendChild(page_a);
            page_list.appendChild(page_li);
            
            for (let i = start_page;i < page_num;i++) { // make page with page num
                var page_li= document.createElement("li");
                page_li.className = "page-item";
                var page_a = document.createElement("a");
                page_a.className = "page-link";
                page_a.setAttribute("id", "page_"+(i+1));
                if (i == now_page) { // 目前的頁數要用黑色字體
                    page_a.style.color = 'black';
                }
                page_a.style.width = '50px';
                page_a.innerHTML = (parseInt(i)+1); // start from page 1
                page_li.appendChild(page_a);
                page_list.appendChild(page_li);
            }
            // 尾頁的元素
            var page_li= document.createElement("li");
            page_li.className = "page-item";
            var page_a = document.createElement("a");
            page_a.className = "page-link";
            page_a.setAttribute("id", "last_page");
            page_a.innerHTML = '尾頁'; // start from page 1
            page_li.appendChild(page_a);
            page_list.appendChild(page_li);
            
            // 下一頁
            var page_li= document.createElement("li");
            page_li.className = "page-item";
            var page_a = document.createElement("a");
            page_a.className = "page-link";
            page_a.setAttribute("id", "page_next");
            page_a.innerHTML = '下一頁'; // start from page 1
            page_li.appendChild(page_a);
            page_list.appendChild(page_li);
        }
        
        // logout, clear cookie
        getId('logout').addEventListener('click', async() => {
            const {data : is_clear} = await axios.post('/viewPa/logoutCheck');
            // today financial is not clear
            if (!is_clear.suc) {
                var is_confirm = confirm(`${is_clear.log}`);
                // confirm user still want to logout
                if (is_confirm) {
                    await axios.post('/viewPa/logout');
                    window.location.href = "/login";
                }
            }
            // today financial is clear
            else {
                await axios.post('/viewPa/logout');
                window.location.href = "/login";
            }
        });
    </script>
</html>
